/*Ipad ngang(1024 x 768)*/
@media screen and (max-width: 1024px){
	.khung {width:100%;float:left;}
}
/*Ipad dọc(768 x 1024)*/
@media screen and (max-width: 768px){
 	.menu {width:100%;height:46px; float:left;}
	.heading {width:100%;float:left;}
	.contain {width:100%;float:left;}
	.main {width:100%;float:left;height:auto;}
	.left {width:100%;float:none;height:auto;margin-bottom:5px;}
	.right {width:100%;float:none;}
	.video {display:none;}
	.xemthem {width:100%;float:left;height:auto;}
	.binhluan {width:100%;float:left;height:auto;margin-left:0px;}
	.anh {width:100%;float:left;}
	.footer {width:100%;float:left;}
	.hinhfooter {width:50%;height:auto;margin:0 auto;float:none;margin-top:10px;}
	.chufooter{display:none;}
	.chufooter1{width:100%;text-align:center;float:none;}
}
/*Tablet nhỏ(480 x 640)*/
@media screen and (max-width: 480px){
 
}
/*Iphone(480 x 640)*/
@media screen and (max-width: 320px){
    
}
/*Smart phone nhỏ*/
@media screen and (max-width: 240px){
    
}